.profile {
  display: inline-block;
  width: 400px;
  padding: 20px;
  text-align: center;
  border: 2px solid rgb(97, 27, 129);
  transition: all 0.3s ease 0s;
  margin-left: 50px;
}

.profile:hover {
  box-shadow: 7px 7px 7px rgba(213, 211, 224, 0.829);
}

.avatar {
  width: 250px;
  border-radius: 120px;
  background-color: rgba(213, 211, 224, 0.829);
}

.username {
  color: rgb(34, 34, 100);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.tag {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
}

.location {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.item {
  background-color: rgba(213, 211, 224, 0.829);
  display: flex;
  flex-direction: column;
  width: 80px;
  border: 1px solid rgb(97, 27, 129);
}

.label {
  color: rgb(34, 34, 100);
  font-weight: bold;
  font-size: 15px;
}

.quantity {
  color: rgb(34, 34, 100);
  font-size: 15px;
}
